node_modules

.cache
build
app/build
public/build/
public/_dev
app/public/build
prisma/dev.sqlite
prisma/dev.sqlite-journal
database.sqlite

neat-bundles-83677745c654.json

shopify-schema.json 
shopifyGraphql 

.env

shopify.app.toml
shopify.app.dev.toml