{% assign pageBundleNamespace = page.metafields.neat_bundles_app %}

{% comment %} Checking if page is a bundle page to begin with {% endcomment %}
{% if pageBundleNamespace %}
  {% if pageBundleNamespace.bundle_id_page %}
    {% comment %} Rendering a widget  {% endcomment %}
    <template id="neat-bundles-widget-347204u230">
      <div class="neat-bundles-widget-container">

        {% render 'widget'
          , bundleId: pageBundleNamespace.bundle_id_page.value %}

      </div>
    </template>

  {% endif %}
{% endif %}


{% schema %}
  {
    "name": "Neat bundles",
    "target": "body",
    "javascript": "embed-block.js"
  }
{% endschema %}
