.tooltipContent {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

.stepTitleContainer {
    max-width: 140px;
    height: fit-content;
    word-break: break-all;
    white-space: normal;
}
