{% comment %} Modal start {% endcomment %}
{% if storeProduct != blank %}
  <div>
    {% comment %} Product variant selector {% endcomment %}
    <div
      x-data="{selectedOptions: product.variants[product.selectedVariantIndex].options.map(option => option)}"
      x-init="$watch('selectedOptions', value => {
        product.selectedVariantIndex = findVariantIndex(value, product.variants)
      })"
      class="product-variants-container">
      {% comment %} Option values {% endcomment %}
      <template x-for="option in product.options">
        <div class="product-option-picker-container">
          <label x-text="option.name" class="option-title"></label>
          <select class="variant-selector" x-model="selectedOptions[product.options.indexOf(option)]">
            <template x-for="value in option.values">
              <option x-text="value" class="option-value"></option>
            </template>
          </select>
        </div>
      </template>
      <p class="product-variant-unavailable-text" x-text="!product.variants[product.selectedVariantIndex].available ? 'This product option is currenty unavailable.' : ''"></p>
    </div>
  </div>
{% endif %}