<html>
    <head>
        <meta charset="utf-8" />
        <title>App</title>
        <link rel="stylesheet" href="{{absoluteUrl '/css/widget.css'}}" />

    </head>
    <body>

        <div class="neat-bundles-widget-container">
            <div class="neat-bundles-widget-container-inner">
                <div class="neat-bundles-widget">
                    <h1>This is the title</h1>
                </div>
            </div>
        </div>

        <script src="{{absoluteUrl '/js/widget-fetching.js'}}" async></script>
        <script src="{{absoluteUrl '/js/Alpine-3.14.1.js'}}" async></script>
        <script src="{{absoluteUrl '/js/widget-utils.js'}}" async></script>
    </body>
</html>