.skeleton-bg {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.steps-heading-container-skeleton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.step-heading-container-skeleton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.skeleton-circle {
    border-radius: 50%;
    width: 52px;
    height: 52px;
}
