/* Global start */
#neat-bundles-widget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.neat-bundles-inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

p {
  margin: 0;
  letter-spacing: normal;
  line-height: normal;
}

.width-full {
  width: 100%;
}

/* Global end */

/* Heading with icons and title start */
.steps-heading-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.step-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.step-heading-container:hover {
  cursor: pointer;
  opacity: 0.9;
  scale: 1.1;
}

.step-icon-container {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #f3df76;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-number {
  font-size: 25px;
  font-weight: bold;
  color: #f3df76;
}

.step-title {
  font-weight: bold;
  font-size: 20px;
}

.passed-step {
  color: #fff;
  background-color: #f3df76;
}

.active-step {
  text-decoration: underline;
}

.inactive-step {
  opacity: 0.5;
}
/* Heading end */

/* Step description start */
.step-description-container {
  display: inline-block;
  height: fit-content;
  font-size: 18px;
  font-weight: 600;
  background-color: #f3df76;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}

.step-description-container p {
  margin: 0px;
  padding: 10px 0;
}
/* Step description end */

/* Step body global start */
.step-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Step body global end */

/* Product step start */
.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 20px;
  columns: 4;
}

.product {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-bottom: 10px;
  height: fit-content;
}

.product img {
  width: 220px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 5px;
  padding: 0px 5px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  font-size: 14px;
  font-weight: 400;
}

.product-variants-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-option-picker-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.option-title {
  font-size: 14px;
  font-weight: lighter;
}

.option-value {
  font-size: 14px;
  font-weight: normal;
}

.product-variant-unavailable-text {
  font-size: 14px;
  font-weight: 400;
}

.product-action-btns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.small-btn {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.small-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.small-btn:disabled:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.small-btn:hover {
  cursor: pointer;
  opacity: 0.9;
  scale: 1.1;
}

.view-product-btn {
  color: #282828;
  background-color: transparent;
  border: 1px solid #282828;
}

.add-to-bundle-btn {
  background-color: #f3df76;
  color: #000000;
  border: none;
  font-weight: 550;
}

.remove-from-bundle-btn {
  color: #f24e1e;
  background-color: transparent;
  border: 1px solid #f24e1e;
}

.increment-decrement-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 18px;
}

.increment-decrement-container button {
  font-size: 22px;
  padding: 5px 30px;
}

.product-img {
  position: relative;
}

.product-added-overlay {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5); /* Black see-through */
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* View product modal */

.view-product-modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.view-product-modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: auto;
  column-gap: 40px;
}

.modal-product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.modal-product-img {
  width: 450px;
}

.modal-product-img img {
  width: 450px;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.product-title-and-description {
  overflow: scroll;
  width: 100%;
  height: 300px;
}

.product-title-and-description h2 {
  margin-top: 0;
}

.close-modal-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 20px;
}

.close {
  cursor: pointer;
}

.mobile-close-btn {
  display: none;
}

.desktop-close-btn {
  display: flex;
}

@media (max-width: 768px) {
  .view-product-modal-inner {
    flex-direction: column;
    width: 95%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }

  .modal-product-img {
    width: 100%;
    height: 100%;
  }

  .modal-product-img img {
    width: 100%;
    height: 100%;
  }

  .mobile-close-btn {
    display: flex;
  }

  .desktop-close-btn {
    display: none;
  }
}

/* Step navigation avigation start */
.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
