{% comment %} CSS code for widget {% endcomment %}
{{ 'widgetSkeleton.css' | asset_url | stylesheet_tag }}
{{ 'widget.css' | asset_url | stylesheet_tag }}


<div class="neat-bundles-inner-container">

  <div class="steps-heading-container">

    {% comment %} Step headings {% endcomment %}
    {% for i in (1..4) %}
      <div class="step-heading-container">
        <div class="skeleton-bg step-icon-container">&nbsp;</div>
        {{ smallShortTextSkeleton }}
      </div>
    {% endfor %}
  </div>


  {{ stepSkeleton }}

</div>